
    body{ 
    background-color:rgb(165, 31, 7);
    }
     
    p{
        color: ghostwhite;
    }
    
    h2{
        color: #f3f707;
    }
    br{
        color: lightseagreen;
    }